.u-section-1 .u-sheet-1 {
  min-height: 127px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 127px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.2;
  background-image: none;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: Aclonica;
  font-weight: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0 24px 0 506px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }
} .u-section-3 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  min-height: 859px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1148px);
  margin: 21px 116px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 838px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-1 {
  width: 775px;
  height: 631px;
  margin: 0 auto 0 -54px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 838px;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 15px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.2;
  background-image: none;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: Aclonica;
  font-weight: normal;
  margin: 43px 1px 0 24px;
}

.u-section-3 .u-text-2 {
  margin: 19px 15px 0 25px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 19px 15px 0 25px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 17px auto 0 25px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 100% 50%;
    min-height: 686px;
  }

  .u-section-3 .u-image-1 {
    width: 533px;
    height: 434px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 686px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 82.14% 50%;
    min-height: 525px;
  }

  .u-section-3 .u-image-1 {
    width: 408px;
    height: 332px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 25px 23px 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
    min-height: 695px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 277px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-4 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 7px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 200;
  margin: 12px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 2.2;
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  border-style: solid;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 15px 46px 15px 45px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px 0 25px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-4 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 441px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-4 .u-group-1 {
    min-height: 388px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  width: 749px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 639px;
  margin: 31px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 112px;
  margin-bottom: 57px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 712px;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2521626486-01.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/hggh-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2521626486-02.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-5 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-5 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-5 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c72653bd-4385-55f5-27f2-b5f458e7dcc2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.8125rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.375rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.875rem;
  }
}

.u-section-5 .u-image-3,
.u-section-5 .u-image-3:before,
.u-section-5 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-3.u-image-3.u-image-3:hover:before {
  background-color: #adf6f2 !important;
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover:before {
  background-color: #adf6f2 !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover:before {
  background-color: #adf6f2 !important;
}

.u-section-5 .u-image-4,
.u-section-5 .u-image-4:before,
.u-section-5 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-4.u-image-4.u-image-4:hover:before {
  background-color: #adf6f2 !important;
}

.u-section-5 .u-image-5,
.u-section-5 .u-image-5:before,
.u-section-5 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-5.u-image-5.u-image-5:hover:before {
  background-color: #adf6f2 !important;
}

.u-section-5 .u-image-6,
.u-section-5 .u-image-6:before,
.u-section-5 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-6.u-image-6.u-image-6:hover:before {
  background-color: #adf6f2 !important;
}.u-section-6 .u-sheet-1 {
  min-height: 729px;
}

.u-section-6 .u-group-1 {
  width: 713px;
  min-height: 278px;
  margin: 181px 60px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 390px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: -404px auto 0;
}

.u-section-6 .u-image-1 {
  width: 460px;
  height: 323px;
  margin: 179px auto 0 72px;
}

.u-section-6 .u-image-2 {
  width: 241px;
  height: 194px;
  margin: -246px 269px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 303px;
  height: 255px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -410px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-6 .u-image-1 {
    width: 432px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-right: 227px;
  }

  .u-section-6 .u-image-3 {
    height: 283px;
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-6 .u-group-1 {
    width: 658px;
    margin-right: 24px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 365px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-image-1 {
    width: 329px;
    height: 304px;
  }

  .u-section-6 .u-image-2 {
    height: 215px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-6 .u-group-1 {
    width: 413px;
    margin-top: 245px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 120px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -456px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 305px;
    margin-top: 357px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -93px;
  }

  .u-section-6 .u-image-3 {
    width: 222px;
    height: 206px;
    margin-top: -700px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 177px;
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 95px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -400px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-6 .u-image-1 {
    width: 266px;
    height: 247px;
    margin-top: 244px;
    margin-left: -1px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -54px;
    margin-right: -1px;
  }

  .u-section-6 .u-image-3 {
    width: 245px;
    height: 187px;
    margin-top: -46px;
    margin-left: -1px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 952px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  width: 726px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  width: 548px;
  margin: 16px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 62px auto 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 582px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-1 {
  width: 310px;
  height: 377px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 285px;
  min-height: 262px;
  background-image: none;
  margin: -66px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-5 {
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 35px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-2 {
  width: 310px;
  height: 377px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-2 {
  width: 285px;
  min-height: 262px;
  background-image: none;
  margin: -66px auto 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-8 {
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-7 .u-social-icons-2 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 35px auto 0;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-3 {
  width: 310px;
  height: 377px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-3 {
  width: 285px;
  min-height: 262px;
  background-image: none;
  margin: -66px auto 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 40px 20px 20px;
}

.u-section-7 .u-text-9 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-11 {
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-7 .u-social-icons-3 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 35px auto 0;
}

.u-section-7 .u-icon-7 {
  height: 100%;
}

.u-section-7 .u-icon-8 {
  height: 100%;
}

.u-section-7 .u-icon-9 {
  height: 100%;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-7 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 354px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 233px;
    margin-top: -28px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    height: 354px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-2 {
    width: 233px;
    margin-top: -28px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-3 {
    height: 354px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-3 {
    width: 233px;
    margin-top: -28px;
  }

  .u-section-7 .u-btn-1 {
    padding: 10px 66px 10px 65px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-7 .u-group-1 {
    width: 263px;
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-group-2 {
    width: 263px;
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-7 .u-group-3 {
    width: 263px;
    min-height: 249px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2401px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-top: 67px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 430px;
    min-height: 263px;
    margin-top: -131px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    width: 430px;
    min-height: 263px;
    margin-top: -131px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-3 {
    width: 430px;
    min-height: 263px;
    margin-top: -131px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-top: 25px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-top: 47px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 303px;
    min-height: 249px;
    margin-top: -76px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-2 {
    width: 303px;
    min-height: 249px;
    margin-top: -76px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-3 {
    width: 303px;
    min-height: 249px;
    margin-top: -76px;
  }

  .u-section-7 .u-btn-1 {
    margin-bottom: 25px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 525px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 80px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-image-1 {
  min-height: 406px;
  background-image: url("images/ytyy-min.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  height: 308px;
  margin: 0 -60px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-8 .u-image-1 {
    min-height: 335px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 180px;
  }

  .u-section-8 .u-image-1 {
    min-height: 257px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 526px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    min-height: 364px;
  }
}